:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.container {
  padding: 0;
}

.cards {
  background-color: var(--bg-cards);
  width: 100%;
  height: auto;
  margin: 2.5%;
  border-radius: 10px;  
  padding: 5%;
}

.cardProjects {
  background-color: var(--bg-cards);
  width: 45.5%;
  height: auto;
  border-radius: 10px;  
  padding: 1.5%;
  margin-left: 4.5%;
  margin-right: 0%;
  margin-bottom: 2.5%;
}

.userLogo {
  position: relative;
  top: 0px;
  border-radius: 50%;
  width: 35%;
  margin-bottom: 10px;
}
  
.centerChild {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#nome {
  font-weight: bold;
  font-size: medium;
}

#funcao {
 font-size: small;
}

a {
  text-decoration: none;
  color: #837E9F;
}

.cards li {
  list-style-type: disc;
  font-size: small;
}

a:hover {
  text-decoration: underline;
  color: #837E9F;
}

.badge {
  background-color: var(--bg-techs);
  font-size: small;
  color: #22212C;
  margin: 1%;
  width: 30%;
}

.col-sm-8 .cards {
  margin-top: 1.25%;

}

